[2014-04-21 15:52] zakird opened #1 "add timestamp to banner-grab output"
add timestamp to banner-grab output

[2014-05-30 19:13] zakird opened #3 "add manpage"

[2014-05-30 19:13] zakird opened #5 "add documentation online?"

[2014-05-30 19:15] zakird opened #7 "make log files consistent"

[2014-08-11 14:42] dadrian opened #10 "Interface selection support"
Choose which network interface to use based on command-line arguments

[2014-08-11 17:30] dadrian opened #13 "Monitor output"
Add in a monitor thread.

[2014-08-20 15:37] zakird opened #14 "Add useful SSL testing flags"
It would be super helpful to support the functionality available in the ssllyze script (they've done an awesome job, but it's python and slow).

https://github.com/iSECPartners/sslyze

[code]

[2014-09-10 19:50] denniskai1234 opened #15 "Check port and look at answer?"
Hello.

When ip xxx got port xxx open and i open a session or do a simple request, i get a file back and i want to check if the file got the text working in it, is it possible to do this over zgrab? or did i misunderstand here something?

[2014-09-10 23:49] zakird opened #16 "add basic certificate parsing"

[2014-09-10 23:50] zakird opened #17 "add certificate validation"
allow specifying certificate store and do basic validation of presented certificates

[2014-10-13 02:26] dadrian opened #19 "Write library for parsing zgrab output in Go"

[2014-12-16 16:45] dadrian opened #22 "Switch to semantic versioning and gopkg.in"

[2014-12-18 20:30] zakird opened #23 "implement --version"

[2015-01-02 18:57] denniskai1234 opened #24 "Install"
Hey.

I think im just too retarded for the install so i need help.

ls  $GOPATH
src
root@install:~# ls  $GOPATH/src
zgrab  ztools

Should be correct or?

Then i went in the zgrab folder and did the go build this was what i got from it:

go build
main.go:13:2: import "github.com/zmap/zgrab/zlib": cannot find package
main.go:14:2: import "github.com/zmap/ztools/processing": cannot find package
main.

[2015-01-02 18:59] dadrian commented on #24
Try clearing out zgrab and ztools from your $GOPATH, and then just run:

`go get github.com/zmap/zgrab`

[2015-01-02 19:04] denniskai1234 commented on #24
go get github.com/zmap/zgrab
# cd .; git clone https://github.com/zmap/zgrab /root/go/src/github.com/zmap/zgrab
package github.com/zmap/zgrab: exec: "git": executable file not found in $PATH

[2015-01-02 19:05] dadrian commented on #24
Do you have git installed?

[2015-01-02 19:07] denniskai1234 commented on #24
After installing git:

go get github.com/zmap/zgrab
# github.com/zmap/ztools/ztls
src/github.com/zmap/ztools/ztls/cipher_suites.go:66: undefined: cipher.AEAD
src/github.com/zmap/ztools/ztls/cipher_suites.go:133: undefined: cipher.AEAD
src/github.com/zmap/ztools/ztls/cipher_suites.go:149: undefined: cipher.AEAD
src/github.com/zmap/ztools/ztls/handshake_server.go:560: undefined: crypto.PublicKey
src

[2015-01-02 19:08] dadrian commented on #24
What version of Go do you have installed? It needs to be at least 1.3.3.

[2015-01-02 19:21] denniskai1234 commented on #24
updated to ./go version
warning: GOPATH set to GOROOT (/root/go) has no effect
go version go1.4 linux/amd64

go get github.com/zmap/zgrab
# github.com/zmap/zgrab/zlib
../src/github.com/zmap/zgrab/zlib/config.go:4: import /root/go/pkg/linux_amd64/crypto/x509.a: not a package file

[2015-01-02 19:30] dadrian commented on #24
It looks like something is still misconfigured with your Go environment. You'll want to make $GOPATH somewhere different than wherever you install the go binary to.

Try following these instructions (http://golang.org/doc/code.html) on how to set up a golang environment. Once that is set up, try running go get github.com/zmap/zgrab again.

[2015-01-02 19:49] denniskai1234 commented on #24
Okay its installed now, how can i scan now lets say the whole world for website titels and get them into a file?

And thanks again for the super fast help!

[2015-01-07 00:15] whithajess opened #25 "go requirements not specified"
So after reading this install issue - https://github.com/zmap/zgrab/issues/24 I realized that my problems with installing most likely come from my go version "What version of Go do you have installed? It needs to be at least 1.3.3." ubuntu packages installs "go version go1.2.1 linux/amd64" makes sense to add this to the readme as a requirement...

[2015-01-07 00:35] whithajess opened #27 "build instructions are wrong"
Instructions refer to $GOPATH/src/zgrab and $GOPATH/src/ztools

#24 uncovered this same problem go build looks for them in the same location as the "go get github.com/zmap/zgrab" command creates them in:

$GOPATH/src/github.com/zmap/zgrab
$GOPATH/src/github.com/zmap/ztools

Not to mention the go get command does all this for us.

[2015-01-07 00:37] dadrian commented on #27
Yeah, you're right. I thought I had updated the install instructions after #21, but apparently didn't.

[2015-01-07 00:46] whithajess commented on #27
Opened a pull requests for both the issues I encountered with the instructions your welcome to close if you wan't to write your own.

[2015-01-07 01:08] #25 closed

[2015-01-07 01:12] dadrian commented on #27
Closed by #26

[2015-01-07 01:12] #27 closed

[2015-01-07 02:12] whithajess opened #28 "Example references ztee but never talks about installing this"
If ztee is required or suggested should talk about this prior to example code or just remove ztee from the example command.

[2015-01-09 00:42] whithajess opened #29 "--encoding option not working"
The encoding option gives 3 possible outputs string|hex|base64 with string being default.

It seems string and base64 both give out the same base64 output
and that hex gives out a base64 hex output

[2015-01-09 02:48] dadrian commented on #24
@denniskai1234, see my answer here https://github.com/zmap/zmap/issues/233, which describes a similar process. You'd want to grep for `<title>` instead.

[2015-01-09 03:29] #29 closed

[2015-01-09 03:30] dadrian commented on #29
We respect this option again, at least for the `--data` flag. You'll want to pull latest master.

[2015-01-09 03:47] whithajess commented on #29
Thanks! this is exactly what I needed thought it didn't work originally after `go get -u github.com/zmap/zgrab` but I needed to  `go build` (I'm a go newbie couldn't figure out how to write the patch)

[2015-01-09 04:01] whithajess commented on #29
@dadrian are you generally in some irc channels or have some kind of chat that I can contact you over? would be cool if I can ask you some questions without having to raise an issue.

[2015-01-09 08:37] temal- commented on #3
Hi,
any preferences in the format you want to have the manpage?

groff?
[code]

asciidoc?
[code]

To compare them, the asciidoc example would need a couple of `*` and `_` ... but since it's only for a short overview, I used the output from the groff example.

Second question: For which other projects (zmap, ztee ..) do you need a manpage?

[2015-01-10 18:40] dadrian commented on #17
Implemented.

[2015-01-10 18:40] #17 closed

[2015-01-10 18:41] dadrian commented on #16
Implemented.

[2015-01-10 18:41] #16 closed

[2015-01-10 18:42] #15 closed

[2015-01-10 18:43] dadrian commented on #10
It turns out this requires forking golang, so we're not going to implement this in the near future.

[2015-01-10 18:43] #10 closed

[2015-01-10 18:46] dadrian commented on #3
Personally, I dislike roff, but if you want to write some documentation in it, by all means go for it! In zmap we use ronn, which is a markdown-like language that compiles into roff.

[2015-01-10 18:51] dadrian commented on #3
ztee also needs a manpage. However, we're going to be switching to the ztee in the zmap repository and getting rid of the ztee in its standalone repository.

[2015-01-12 11:09] temal- commented on #3
I was asking (and showing examples) because I didn't knew which kind of format you guys prefer. Ronn looks quite nice and since it's already used in zmap, I'll give it a try. I'll comment here as soon as I'm done.

[2015-01-14 04:55] zakird opened #30 "implement modbus parsing"

[2015-02-03 21:07] dadrian opened #31 "Document how to run various scans correctly"
For example, that you need --ehlo=domain.com for SMTP.

[2015-02-08 16:36] corny commented on #31
And that zgrab verifies the hostname if you pass a CSV stream with at least two columns.

[2015-03-06 22:20] dadrian commented on #30
Fixed by 39332f2e8df108f25395021ae730bbe3d11020b9

[2015-03-06 22:20] #30 closed

[2015-03-06 22:21] dadrian opened #32 "Fully implement export ciphers"
Right now we quit after the key exchange. It'd be nice to be able to do a full handshake such that we can write application data (e.g. sent an HTTP GET).

[2015-03-08 21:06] dadrian opened #33 "Separate valid and matches_domain correctly"

[2015-03-17 16:49] zerstoeren opened #35 "zgrab json.go errors"
Hey guys.  Love the software... I run go get github.com/zmap/zgrab and get the following errors on json.go.  I have tested on 1.3.3, 1.4.1 and 1.4.2 and received the same errors on all three.

go get github.com/zmap/zgrab
github.com/zmap/zgrab/ztools/x509/pkix
/home/ubuntu/go/src/github.com/zmap/zgrab/ztools/x509/pkix/json.go:53:13: error: reference to undefined field or method ‘String’
   enc[a.T

[2015-03-17 23:40] dadrian commented on #35
Can you try clearing your `$GOPATH/bin` folder, and rerunning go get, using go 1.4 or higher?

[2015-03-18 19:47] zerstoeren commented on #35
I did a fresh ubuntu install on a vm, did not set a $GOPATH/bin, install go1.4.2, but still getting the same errors.

[2015-03-18 19:52] dadrian commented on #35
To build the software you need to set a `$GOPATH`. There are directions linked in the README.

[2015-03-31 19:59] zakird opened #36 "ciphers is getting absurd"
Currently, we have a ton of different cipher flags, which is not sustainable. We need to support the following syntax:

1) --browser-ciphers=Chrome49

2) --ciphers="TLS_RSA_WITH_NULL_MD5,TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA..."

[2015-04-03 13:52] zerstoeren commented on #35
I got it working.  For whatever reason, it didn't care for the gopath that I was trying to set originally.

[2015-04-03 13:52] #35 closed

[2015-04-03 13:56] zerstoeren opened #37 "using domain names with zgrab and sip banners"
Can you provide an example of how we can use domain names with zgrab?

I see it has http-req-domain, but when I try to pass a domain name it doesn't seem to work.

Also, can zgrab pull sip banners?

[2015-04-03 14:00] dadrian commented on #37
Given a file of the form:

[code]
run `cat domains.csv | zgrab --port 80 --data http-req-domain`

ZGrab still requires you to manually look up the domain name. The `http-req-domain` file simply allows you to set the `Host: <domain>` header in an HTTP request.

As for SIP banners, if I'm not mistaken that's a UDP protocol. I think ZMap might be able to scan for that directly, check the ZMap UDP pro

[2015-04-04 15:15] dadrian commented on #36
Is this really the best title?

[2015-04-06 16:24] corny opened #45 "Fix test suite"
I corrected the imports and created a configuration for Travis CI. There are still some failing tests in my branch: https://github.com/zmap/zgrab/compare/master...corny:travis
https://travis-ci.org/corny/zgrab

[2015-04-06 21:04] zerstoeren commented on #37
Thanks dadrian.  i actually changed the command to zgrab --input-file=domains.csv --port=80 --data http-req-domain --output-file=output.json

i'm still not getting sip banners, but working on it.  sip looks to be on TCP 5060 though.

[2015-04-06 21:04] #37 closed

[2015-04-14 14:55] drchoffnes opened #48 "Build error"
When trying to build zgrab on Ubuntu, I get the following error:

$ go build
\# github.com/zmap/zgrab/ztools/x509/pkix
ztools/x509/pkix/json.go:53: a.Type.String undefined (type asn1.ObjectIdentifier has no field or method String)
ztools/x509/pkix/json.go:65: a.Type.String undefined (type asn1.ObjectIdentifier has no field or method String)
ztools/x509/pkix/json.go:78: e.Id.String undefined (type

[2015-04-14 17:11] drchoffnes commented on #48
Works with go1.3. Not go1.4.2, not go1.2.

[2015-04-14 17:11] #48 closed

[2015-04-22 02:41] svshearer opened #49 "'go get github.com/zmap/zgrab' on CentOS"
I am using CentOS and ran the following command:

go get github.com/zmap/zgrab

The output from the command is:

'# github.com/zmap/zgrab/ztools/x509
root/go/src/github.com/zmap/zgrab/ztools/x509/x509.go:364: undefined: elliptic.P224
root/go/src/github.com/zmap/zgrab/ztools/x509/x509.go:377: undefined: elliptic.P224
root/go/src/github.com/zmap/zgrab/ztools/x509/x509.go:1436: undefined: elliptic.P2

[2015-04-22 03:05] dadrian commented on #49
Have you tried installing Go from https://golang.org/dl/?

[2015-04-22 03:54] svshearer commented on #49
That took care of the problem. Thanks very much.

[2015-04-22 03:54] #49 closed

[2015-04-25 03:43] svshearer opened #51 "i/o timeout"

[2015-04-25 04:28] #51 closed

[2015-05-08 19:41] #1 closed

[2015-05-21 16:04] dadrian opened #54 "Fully implement DHE ciphers"

[2015-05-21 16:04] dadrian opened #55 "Check for safe primes"

[2015-05-21 17:22] corny commented on #54
:+1:  I already have implemented the capturing of ECDHE parameters:
https://github.com/corny/zgrab/commit/230089b13b474e9e0c5df596a9f6e75d9f1e629f

[2015-05-21 20:03] dadrian opened #56 "Fully implement ECDHE ciphers"

[2015-05-21 20:04] dadrian opened #57 "Implement SSH ECDH key exchange"

[2015-05-21 20:04] dadrian opened #58 "Parse SSH host keys"

[2015-05-21 23:49] corny commented on #56
Do you mean just capturing the ECDHE parameters?

I have already implemented this:
https://github.com/corny/zgrab/commit/230089b13b474e9e0c5df596a9f6e75d9f1e629f

[2015-05-23 19:04] dadrian commented on #56
That's part of it (and I'll probably merge it soon), but I was referring to wider set of all/most ciphers that use ECDHE and aren't currently implemented in the Golang TLS library.

[2015-05-27 01:10] zakird commented on #55
also add "check if prime is even prime"

[2015-05-27 01:17] #24 closed

[2015-05-27 13:39] dadrian commented on #22
I tagged 4282ccb8d1e10cf99390308e9d70a76e9b5ccceb on the stable branch as v0.0.1. This enables ZGrab to be imported using [gopkg.in](http://labix.org/gopkg.in) as:

[code]
We'll hopefully start to have a better development style where we merge stable features to the stable branch as they become ready, and then tag releases.

IMHO, we're still very far away from a 1.0 release.

[2015-05-27 13:39] #22 closed

[2015-05-27 19:26] dadrian commented on #55
After consulting with cryptographers, it looks like the thing to do is implement the tests described by DJB on page 2 of http://cr.yp.to/papers/sigs.pdf. This becomes a whole lot easier in Golang 1.5, which should contain a native implementation for calculating the Jacobi symbol of two *big.Int objects, so we'll wait for that to be released.

[2015-05-29 18:26] dadrian commented on #45
I fixed the tests for ztls and commented out old tests that checked unimplemented / changed functionality. The build now passes on Travis.

Future work includes fixing up the tests for ZGrab itself, and finishing implementing JSON decode.

[2015-05-29 19:20] corny commented on #45
great work! :+1:

[2015-06-06 18:53] zakird opened #59 "input file should take additional metadata"
right now we can pass in ip,domain. I'd like to be able to pass in ip,domain,other-data. This will be used to add Alexa rank into our scans.

[2015-06-16 16:35] dadrian opened #60 "Log static variables in a scan to metadata"
For example, whatever extensions we send in the TLS Client Hello should be put in the metadata output.

[2015-06-18 14:46] dadrian opened #61 "Fully parse out server key exchange messages"
This includes the signature of the parameters, ECDH, DH, or otherwise.

[2015-06-26 16:41] dadrian opened #62 "Add support for DH and ECDH fixed-parameter ciphers"
This requires updating the X.509 library for fixed-paramters (see https://tools.ietf.org/html/rfc3279#section-2.3.5), and adding the relevant cipher suites.

[2015-06-26 16:51] #54 closed

[2015-06-26 16:51] #61 closed

[2015-07-27 15:12] zakird opened #63 "Add --ecdhe-ciphers flag"

[2015-08-07 07:14] qingxp9 opened #64 "Add Port in output"
when i analyze the output file,it can't show which port does it return from.
So I hope to add the port information in output

And it's convenient if support multiport set.

[2015-08-09 14:24] zakird commented on #64
This can be output by setting which fields you want with --output-fields. However, given that you're scanning a single port, they're all just going to say that one port.

[2015-08-09 14:25] zakird commented on #64
Whoops, thought this was on different project. Please ignore last comment if you received notification.

[2015-08-10 02:02] qingxp9 commented on #64
@zakird
I mean when i execute

    zmap -p 80 -w url.txt -o - | zgrab --port 80 --data=http-req >> test.txt

I hope the the output JSON every line have the "port" item rather than output it at last line .
If this,i could output different port scan information  in one file

[2015-08-10 14:43] dadrian opened #65 "Multiple ports"
Somehow, take port as an input on stdin. Depends on #64.

[2015-10-04 17:52] aaspring opened #68 "Not collecting entire FTP banner"
In some cases, ZGrab does not collect the entire FTP banner. For instance, the IP 92.87.126.99.

ZGrab gives the banner ``220-National Instruments FTP''

The actual banner is ``220-National Instruments FTP\r\n220 Service Ready''

[2015-11-02 18:09] aaspring commented on #68
Caused by running with the the '--port=21 --banners' flags and not the '--ftp' flag (pull request #70 alters to '--ftp-banners').

Running with correct flags may require modification of ztag IOT use updated JSON format.

[2015-11-04 20:29] dadrian opened #72 "Backport changes from golang 1.6 x509 lib"

[2015-11-05 18:59] zakird opened #73 "Commandline flags are nonsencial"
We should move to git/openssl style, e.g.

zgrab modbus --port=502

[2015-11-05 18:59] zakird opened #74 "zgrab metadata output is incomplete"
We don't have any useful data output in metadata currently

[2015-11-05 19:00] zakird opened #75 "logfile should not contain information about individual hosts"
Connection level information should only be in results. Log file should only describe how the scan was setup and run. E.g., be small and easy to look at to debug a problem.

[2015-11-05 19:01] zakird opened #76 "Ability to compose scans in a single run"
E.g. do an HTTP request and then an HTTPS request for every host

[2015-11-05 19:01] zakird commented on #76
note: connection abstraction is wrong

[2015-11-05 19:02] zakird opened #77 "Implement telnet scanning"

[2015-11-05 19:05] zakird opened #78 "Start documentation"

[2015-11-05 19:05] zakird commented on #68
What's the status of this? Did the recent pull requests fix this?

[2015-11-05 19:06] zakird opened #79 "Figure out OS distribution"

[2015-11-05 19:07] zakird opened #80 "package layout needs restructuring"
What's currently in place is from when we had multiple packages, but this is no longer the case.

[2015-11-05 19:08] zakird opened #81 "all json serializers need matching deserializers"
This allows someone to easily deal with the data later in golang

[2015-11-05 19:10] zakird opened #82 "Implement HTTP/2"

[2015-11-05 19:11] zakird opened #83 "Implement BacNet"

[2015-11-05 19:11] zakird opened #84 "Implement DNP3"

[2015-11-05 19:29] aaspring commented on #68
Were 2 problems with this.

The first is that the regex to check completion was incorrect. This is fixed in PR #70.

The second is that the scans were running with the "--banners" flag and not the "--ftp" flag, so if the banner was sent in multiple packets, it wasn't guaranteed to wait for the entire banner before reading and closing the connection. This is not fixable via Github and requires alte

[2015-11-06 19:25] jordan-wright commented on #81
I actually had a question about this - I noticed that [summary](https://github.com/zmap/zgrab/blob/master/summary.go) has its ```encodedSummary``` equivalent that appears to only give the benefit of turning "" into null when encoded.

Does this provide real benefit? I personally don't see the issue with empty strings, as it doesn't seem necessarily incorrect.

[2015-11-07 05:01] dadrian commented on #81
There's a lot of decisions made in ZGrab when we were first writing it that were just plain wrong. Partially, just because we were wrong, and partially due to not knowing Go very well when I first wrote it.

In situations like this, the probably correct thing to do is set the field to `omitempty`.

[2015-11-09 20:37] jordan-wright commented on #82
This will likely resolve itself when the http2 library is built in the Go stdlib - shouldn't be too far out.

[2015-11-10 10:37] qingxp9 opened #85 "Get Garbled when website's charset is gb2312"
i get this output

How could i do to convert gb2312 ?

[2015-11-10 13:40] zakird commented on #85
Your best currently would be to convert this post facto, using Python or another other language of your choice. I don't think that we'll want to output files in anything under than utf-8 for the time being and it doesn't seem like a good idea to change the encoding of individual records.

[2015-11-10 17:06] dadrian commented on #85
Unfortunately, I think we lose a lot of the data that would be required to recreate this post facto, since Golang will replace any byte sequence that's not valid UTF-8 with the Unicode replacement character. We might be able to detect other encoding and reencode them to UTF-8 before outputting?

[2015-11-11 01:54] qingxp9 commented on #85
Is there a general solution for non-utf8 encoding?

[2015-11-11 02:28] dadrian commented on #85
I'm not sure. I need to look into this from both a Golang and JSON perspective.

[2015-11-19 18:34] riramar opened #88 "Last request from redirects returning 404 Not Found"
If you enable redirects the last request is returning 404 instead of 200 in the case below.
Let's try first with curl using one ip from google.com and getting only the headers:

[code]

Let's try to do almost the same using zgrab.

[code]

Doing some parser.

[code]

The request_response_chain seems to be OK but the last request is returning 404.

[2015-11-19 18:53] zzma commented on #88
As of right now, we only support redirects that can be made on the single initial TCP connection. What you are observing is a bug in how we check hostname matching. We'll fix this by not even attempting to make the connection to google.com.br since we only have a live connection to google.com.

Thanks for pointing this out! And full HTTP redirect functionality is on the roadmap.

[2015-11-19 19:16] riramar commented on #88
Make sense. Use only single initial TCP connection in order to be faster, right?
I think libs like urllib2 from python 2.7 open one TCP connection for each request from request_response_chain redirects.
So I think in this case it'll always fail running zgrab from Brazil because google will first always redirect any request to an IP to google.com and after that google.com.br.
[code]
I've talked wit

[2015-11-19 21:56] dadrian commented on #88
The Go stdlib does deal with a lot of these problems, however we often want slightly lower level access than the Go stdlib provides in many situations. As a result, we use an ugly mashup of certain stdlib routines and custom implementations. While this was initially pretty manageable (back when we were just sending one request), now that we have more features it's starting to look like we should f

[2015-11-19 22:41] dadrian opened #89 "Support TLS Extended Master Secret extension (RFC 7627)"
This is now supported in Chrome and NSS.

https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/NSS_3.21_release_notes
https://tools.ietf.org/html/rfc7627

[2015-11-20 20:12] riramar commented on #88
Thanks @dadrian!
Not sure if Go has something like Python handlers.
For example in Python if you want to get any data from the redirects using urllib2 you need to create a opener passing a new class as an argument. This new class should receive as argument the urllib2 handler that you want to access.

[code]
[code]

This is like a surgery on the urllib2 to access the redirects. I'd like to know Go

[2015-11-30 19:29] #83 closed

[2015-12-06 19:28] d33tah opened #97 "go get: undefined: elliptic.P224"
[code]

[2015-12-06 19:35] d33tah commented on #97
Apparently this was because Fedora didn't ship with a proper build of Go. Fixed by downloading and installing one from golang.org.

[2015-12-06 19:37] #97 closed

[2015-12-06 20:03] dadrian commented on #97
For future reference, pretty much every Linux distro ships with an old version of Golang

:(

[2015-12-07 12:49] d33tah opened #98 "Feeding zgrab with an already fetched response?"
The way I understand it, zgrab finds out about open TCP ports and attempts to grab protocol information about the service listening there. Is there a way I could make it read the response from a specific file instead?

[2015-12-07 21:30] dadrian commented on #98
This is not currently supported.

[2015-12-07 21:35] d33tah commented on #98
@dadrian: could you provide me with any pointers on how this could be achieved or a proof-of-concept patch that would enable that? I would be very grateful.

[2015-12-08 01:19] dadrian commented on #98
You would need to implement a version of net.Conn that reads from a local file, and then update the dialer in `grabber.go` accordingly. This is a fairly complicated task, what exactly are you trying to achieve with this?

[2015-12-08 08:55] d33tah commented on #98
@dadrian: I would like to perform batch fingerprinting of a lot of ```(ip, port, is_tcp, payload)``` tuples that I already collected. So you say that without hours of work, it wouldn't be possible to adapt zgrab for this task?

[2015-12-08 16:42] dadrian commented on #98
I think the bigger issue here is that most of the handshakes zgrab attempts would fail, as they're dependent on session-specific parameters, e.g. TLS Client Random.

If you're familiar with golang, I don't think implementing the dialer and net.Conn to read from a pcap would be all that difficult. I just don't think you'll get very good results.

[2015-12-10 02:21] zerstoeren opened #99 "zmap build issues when updating to new version"
Hey Guys... I'm getting build issues when trying to build the new version of zmap.

I run cmake -DENABLE_DEVELOPMENT=OFF successfully, but when I run make, I get:

Scanning dependencies of target zblacklist
[  1%] Building C object CMakeFiles/zblacklist.dir/zblacklist.o
[  2%] Building C object CMakeFiles/zblacklist.dir/zbopt_compat.o
Linking C executable zblacklist
/usr/bin/ld: cannot find -lzmap

[2015-12-10 05:47] dadrian commented on #99
Are you passing the path to the root of the repository to CMake, and not the src/ folder?

[2015-12-10 18:40] zerstoeren commented on #99
I just realized that I put a zmap question in the zgrab repo.  My bad.  I was in src.  When I try from zmap root, I get this error:

[ 11%] Built target zmaplib
Scanning dependencies of target zblacklist
[ 12%] Building C object src/CMakeFiles/zblacklist.dir/zblacklist.c.o
[ 13%] Building C object src/CMakeFiles/zblacklist.dir/zbopt_compat.c.o
Linking C executable zblacklist
[ 15%] Built target zb

[2015-12-10 18:50] zerstoeren commented on #99
I got it.  for ubuntu/debian, you also have to install libunistring-dev

[2015-12-10 18:50] dadrian commented on #99
Yup. This is a more recent dependency, although I believe we added it to INSTALL.md.

[2015-12-10 18:51] zerstoeren commented on #99
i should have read that.  i was following the website instructions.  :)  Thanks @dadrian.

[2015-12-10 18:51] #99 closed

[2015-12-24 10:00] alibaba7788 opened #101 "why zgrab send data add tls only get headers"
echo 221.232.66.106 | ./zgrab --port 8443 --tls  --data=./http-req

[2015-12-28 00:12] dadrian commented on #101
You should use `--http='\'` instead of `--data='./http-req'`. Our documentation is out of date.

[2015-12-28 04:12] chjuheng commented on #101
Why --data http-req only get http headers??

[2015-12-28 05:48] alibaba7788 commented on #101
but, why --data only get headers?

[2015-12-28 10:49] zakird commented on #84
This is done, no? @zzma @dadrian ?

[2015-12-28 10:50] zakird commented on #77
I'm going to close this given that @zzma has submitted separate pull request.

[2015-12-28 10:50] #77 closed

[2015-12-28 17:14] dadrian commented on #77
Readlly, we should leave this open and then mark the pull request as fixing #77 in the merge.

[2015-12-28 17:15] dadrian commented on #84
Correct.

[2015-12-28 17:15] #84 closed

[2015-12-28 17:16] dadrian commented on #101
`--data` only reads a small number of bytes in a single call to read. This likely happened to correspond with the server sending headers.

[2015-12-29 02:31] #101 closed

[2016-01-04 00:15] zakird opened #102 "Refactor Needed"
I think we all recognize that the ZGrab code base is a total mess. I'm opening this issue to write down ideas about how we should fix it up.

[2016-01-04 00:17] zakird commented on #102
/cc @zzma @paul-pearce

[2016-01-04 00:19] zakird commented on #102
We need to handle multiple connections per host in a generic manner. Users can specify multiple handshakes using a configuration file (probably JSON). If CLI flags are used, then only one scan. Otherwise, we'll allow naming and output them in JSON with something other than "data". Longterm this means that non scan configuration data should be global.

[2016-01-04 00:20] zakird commented on #102
Adding a protocol should only require editing one file and defining a well formed function/class/whatever such that it's obvious how to implement new protocols.

[2016-01-04 00:35] paul-pearce commented on #102
Adding to zakir's note about adding protocols: It should not only require adding one file but it probably should not then involve a top level flag. e.g. rather than zgrab --newstuff it would probably be zgrab --module=newstuff. This would help with the config file quite a bit.

[2016-01-04 00:36] paul-pearce commented on #102
General zgrab options (e.g. --interface) should be separate from protocol specific stuff (e.g. --ftp, --http-max-redirects)

[2016-01-04 00:37] zzma commented on #102
Agree, and we should also have a default port for each protocol and not need to specify it from the command line

[2016-01-04 00:41] zakird commented on #102
Actually what I'd like is

zgrab telnet --blah

[2016-01-04 00:42] paul-pearce commented on #102
The dependency on dadrian/rc2 should go away.

[2016-01-04 00:55] zakird commented on #102
Paul: I'd make that a standalone issue. That's more of a bug than a
refactoring consideration.
On Sun, Jan 3, 2016 at 6:42 PM Paul Pearce <notifications@github.com> wrote:

[2016-01-04 01:04] paul-pearce opened #103 "rc2 library dependency should be removed"
As discussed in #102, the dependency on https://github.com/dadrian/rc2 should be removed.

[2016-01-04 01:22] dadrian commented on #102
I agree with @zakird the interface should look like git (`zgrab protocol --flags`). The golang standard library argument parser supports this.

[2016-01-04 01:43] dadrian commented on #102
I'm not convinced that the name in the grab output should be user configurable. We've experienced several times that having overly dynamic JSON output to be very difficult to handle in strongly-typed languages, including in Go itself. As soon as we can't describe the JSON output at compile-time as a struct with optional fields, then dealing with the JSON becomes *incredibly* difficult, especially

[2016-01-04 01:45] zakird commented on #102
No, it doesn't. In the case that you're running multiple handshakes, you _must_ name them something. Either you assign an arbitrary name or you let teh user choose. Either way, it's going to be runtime dependent.

[2016-01-04 01:51] dadrian commented on #102
@zakird No what doesn't?

Also, why not just use an array? That bypasses the naming issue and is trivially serializable and deserializable.

[2016-01-04 02:01] zakird commented on #102
Because you should NEVER have arrays unless you MUST. In order words, if there are records with unknown number of objects. Arrays in _every_ database are entirely unusable and should be avoided at all costs. I would 100% reschema over use arrays in every case. Remember when we had arrays last time and we had to effectively throw away all of our data?

[2016-01-04 02:16] dadrian commented on #102
This time, the array would be the same type. Previously, it was not. This enables repeated fields in BigQuery. As for Postgres, we don't actually use Postgres.

However, it turns out the new typing also enables us to do http://stackoverflow.com/questions/18412126/golang-parse-a-json-with-dynamic-key, so I guess the point is moot and we can name the different handshakes. Carry on.

[2016-01-04 02:18] zakird commented on #102
It doesn't matter if it's the same type. Analysis is still made infinitely more difficult. I'm 100% against putting an array here (like to the point that I would fork the project level commitment because all the data would be pretty worthless). And while _you_ might not use postgres, others of us do at times.

[2016-01-04 02:22] dadrian commented on #103
I forked the rc2 library under the ZMap organization, see https://github.com/zmap/rc2. We should point the dependency at that repository instead of mine.

[2016-01-04 02:23] zakird commented on #103
I'm still at a total loss why we have a repository to contain a single file.

[2016-01-04 02:25] dadrian commented on #103
@zakird because it's a crypto cipher I took from a fork of a repository by @tqbf, was standalone implemented, and we may eventually need to merge in upstream changes.

[2016-01-04 02:26] zakird commented on #103
We've already forked a lot. Having another file with a cipher in it isn't going to cause major problems.

[2016-01-04 02:27] dadrian commented on #103
Why should we do manual forking when we don't have to, given that running `go get` automatically solves this for us anyway?

[2016-01-04 02:27] zakird commented on #103
what manual forking is there? Aren't we talking copying a file?

[2016-01-04 02:37] dadrian commented on #102
Well, the good news is we're now in agreement, so we can stop yelling at each other.

[2016-01-04 02:38] zakird commented on #103
I don't follow what you're saying. I understand that this came from another location. However, this doesn't affect what the correct thing to do going forward. It seems fairly unlikely to me that there are going to be changes to the RC2 algorithm given that this is an algorithm deprecated decades ago. If you are trying to communicate something else, it would be helpful to all of us if you could exp

[2016-01-04 02:53] dadrian commented on #103
I'm saying that given that Golang has built-in support for *exactly* this situation, I don't understand why we should copy the file into our repo instead of just using the built-in ability to fetch remote dependencies. When we leave it in it's own repository, it's easier to keep track of where it came from, compared to copying and pasting the implementation into the ZGrab repo. Additionally, we do

[2016-01-04 02:59] zakird commented on #103
Alright, for now, let's just move it to the ZMap organization. I don't know if I agree, but this solves the major concern for the time being.

[2016-01-04 13:56] tqbf commented on #103
Is there some way I can, like, donate that RC2 code to ZMap in perpetuity so every time someone else on the Internet decides they need RC2 for something they can bug you guys about it? :)

I don’t even remember why I wrote that code.

-- 
Thomas Ptacek

On January 3, 2016 at 8:59:58 PM, Zakir Durumeric (notifications@github.com) wrote:

Alright, for now, let's just move it to the ZMap organization

[2016-01-04 20:54] zakird commented on #102
Configuration and Results should be completely independent of connections. A scanner should be able to decide how many connections they want and should probably just dial themselves.

[2016-01-04 21:17] dadrian commented on #102
Can you clarify what you mean here? I'm not sure I follow.

[2016-01-04 21:29] zakird commented on #102
Right now, everything is set on the Conn object. This should be set on some sort of higher level configuration object.

[2016-01-04 21:35] dadrian commented on #102
Agreed. The Conn object abstraction was incorrect, I think. It was better than what we previously had, but didn't work nearly as well in practice. We should totally scrap that approach and only use the golang net.Conn (and where appropriate, e.g. TLS, SSH), but it shouldn't be the driving abstraction of ZGrab.

[2016-01-09 14:00] Rolinh commented on #23
I know this issue a bit old but if you guys could use semantic versioning or something this would be great.
As soon as you use versioning, I think it would be good to include the zgrab version in the base grab json objects so that we know how we need to deserialize it.

[2016-01-10 18:47] dadrian commented on #102
Tagging @aaspring since he probably has thoughts on ZGrab after implementing a few TLS things.

[2016-01-10 19:07] dadrian commented on #23
Including the version/commit hash in the JSON output is a good idea. We should add it to the metadata output.

However, I'm not sure if we should bother with semantic versioning yet. We're still trying to figure out where exactly zgrab is going and what we want it to look like. If we did switch to semantic versioning, at this point we'd still be version 0.x.y. Semantic versioning provides no guara

[2016-01-11 06:06] Rolinh commented on #23
Well, semantic versioning was just a proposition. The only thing I really care about is to be able to know when there are changes in the code that modify the JSON output so that I known how I am suppose to deserialize it. Sometimes users want to read a JSON file that was produced several month ago, for comparison with current data or whatever, so if the format change, users should be able to know

[2016-01-11 15:52] aaspring commented on #102
Things I think are weird/wrong --
1) The abstraction for cmd flags is broken. You have to set a flag to set a flag to set a flag when then can be checked. No need in having 3 layers.
2) We shouldn't be creating our own structs to JSONize. We should be adding JSON tags to the stdlib structs and then JSONizing straight from them.
3) The entire command line call should be included in the metadata out

[2016-02-24 00:55] zakird opened #111 "alternate_protocol and alt_svc should be first class headers"
These are commonly used for QUIC and relatives.

[2016-03-01 14:04] zakird opened #113 "ZGrab defaults to invalid empty EHLO domain"
We should default to using the client's IP address instead of using an empty string when doing an SMTP ehlo if nothing has been provided on the CLI.

[2016-03-20 12:57] zakird opened #117 "ZGrab incorrectly outputs TLS Session Ticket support as false"
If we do not offer TLS Session Ticket support, we output that the server does not support the extensions, which is not strictly correct. We should not output this, or output it as _null_ , if we haven't tested for it. This has bitten us in the past for other fields.

[2016-03-20 13:01] zakird commented on #102
We need to have a more consistent interface between ZGrab and ZTag. Right now, it's nearly impossible to know what ztag configuration matches up with various ZGrab configurations. When we name things, the names should match such that it's obvious how to connect the two together.

[2016-03-22 21:07] aaspring commented on #117
Identical behavior is present in ```extended_master_secret``` output field and should be fixed in the same PR. Attaching to this Issue IOT for tracking.

[2016-03-23 00:16] aaspring commented on #89
Support added in PR #108, commit f4cc6d29f0b054207a118413f2ff9e99f8dd90df

[2016-03-23 01:21] zakird commented on #89
Closing per Drew's commit that implements this.

[2016-03-23 01:21] #89 closed

[2016-03-23 21:08] zakird commented on #117
@dadrian, can you take a look at this when you have a moment?

On Tue, Mar 22, 2016 at 5:07 PM Drew Springall <notifications@github.com>
wrote:

[2016-04-16 18:23] s3c1t opened #124 "udp banner grab"
Can you provide an example of how we can use banner grab udp ports with zgrab ?

[2016-04-23 09:53] kevien opened #125 "something go wrong。。。"
$ go get github.com/zmap/zgrab
# github.com/zmap/zgrab/ztools/http
ztools/http/request.go:65: request.URL.RawPath undefined (type *url.URL has no field or method RawPath)

[2016-05-11 09:07] zlx commented on #125
me too

Have you resolve it now?

[2016-05-11 09:17] zlx commented on #125
It seem it dependent go 1.5 https://golang.org/src/net/url/url.go?s=8162:8553#L299

[2016-05-13 18:47] s3c1t opened #129 "example of zgrab"
i want more description from zgrab all options
or more examples from zgrab options usage
for example: -udp option and etc
please
thanks

[2016-05-15 07:07] dadrian commented on #129
Can you provide a bit more information about what you're trying to accomplish with zgrab?

[2016-05-16 04:16] s3c1t commented on #129
I had done. banner grabbed some udp ports just with zmap
now this is my question: how to banner grabbing udp ports with -udp option from zgrab
is it ture following similar?
zmap -M udp -p 137 -B 10M x.x.x.x/24  -o - |./zgrab -port 137 -udp -output-file banner-netbios.json

[2016-05-27 21:41] stackoverflowin commented on #35
Getting the same error:

root@a:~# export GOPATH=$HOME/bin
root@a:~# go get github.com/zmap/zgrab
# github.com/zmap/zgrab/ztools/x509/pkix
bin/src/github.com/zmap/zgrab/ztools/x509/pkix/json.go:53:13: error: reference to undefined field or method ‘String’
   enc[a.Type.String()] = a.Value

[2016-05-28 17:39] dadrian commented on #35
You likely need to update your go compiler to be at least version 1.5

[2016-06-03 09:56] jszhujun2010 opened #132 "Need more examples about zgrab and ztag"
Hi!
I have tried to scan different ports, but seemed to succeed only in (443, https, tls), the example in readme file.

For example, I want to scan port 80 and I use the following command:

[code]

I get nothing in file final.json and many errors occurred in my console(like i/o timeout or EOF). My confusion is that what is the correct parameter to specify in zgrab and ztag so that I can parse usef

[2016-06-22 14:01] zakird opened #136 "Parse type of ECDSA key and full key itself (not components)"
e.g.,

        Subject Public Key Info:
            Public Key Algorithm: id-ecPublicKey
                Public-Key: (256 bit)
                pub:
                    04:ca:fb:a9:62:b8:2d:ad:cb:62:8a:0b:cc:e3:5c:
                    32:d7:bd:dd:82:17:d8:1e:04:5d:41:7a:ef:4b:eb:
                    0c:fe:1e:a0:70:07:fc:51:b3:75:c3:c5:60:96:af:
                    2e:7c:1b:cd:db:56:dd:71:e4:51:56:f

[2016-06-23 22:27] zakird opened #137 "add validity period to cert"
how many days is cert valid

[2016-06-25 08:47] zakird opened #138 "Parse SKID and AKID consistently"

[2016-06-25 08:48] zakird opened #139 "Add SHA256(SubjectPublicKeyInfo)"

[2016-06-25 08:57] zakird opened #140 "Add names field"
collect all names that the certificate is valid for and put them in one place

[2016-06-25 08:59] zakird opened #141 "Add SHA256(SPKI + Subject)"
Add field that uniquely identifies a CA.

Unclear what to name this. @dadrian ideas?

[2016-06-25 09:00] zakird opened #142 "Add SHA256(TBSCertificate)"

[2016-06-25 09:01] zakird opened #143 "Add SHA256(TBSCertificate No Poison)"

[2016-06-25 09:03] zakird opened #144 "Add support for --intermediates to be provided along with root store"

[2016-06-25 09:05] zakird opened #145 "Add support for validation against multiple root stores"
Unclear whether we should do this explicitly or not. @dadrian thoughts?

We'll want to for sure add support for Apple, Microsoft, NSS, and likely 2--3 others (e.g., Google CT, Android, and Java)

[2016-06-25 09:10] zakird opened #146 "Add searchable names field"
Elasticsearch is terrible at handling `*name` searches, e.g. `*.github.com`. For each certificate, parse out the name tree. For example, a certificate that's valid for a.b.domain.com and c.domain.com would have

 - a.b.domain.com
 - b.domain.com
 - c.domain.com
 - domain.com
 - com

[2016-06-25 09:33] zakird opened #147 "Parse out EV and OV"

[2016-06-25 09:33] zakird commented on #125
Did this resolve your issues?

[2016-06-25 09:36] zakird commented on #98
Unfortunately, this doesn't seem to be within the current scope of ZGrab and I'm going to close the issue, as I don't believe any of the developers are going to tackle it. Please let me know if you have any questions/concerns.

[2016-06-25 09:36] #98 closed

[2016-06-25 09:37] zakird commented on #68
@aaspring is this resolved, or what's going on?

[2016-06-25 09:38] zakird commented on #88
@zzma What's the current situation here? Is this fixed by the changes you made to HTTP/HTTPS? Have those changes landed in master?

[2016-06-25 09:39] zakird commented on #62
@dadrian do you actually plan on implementing this or this a wish list item? I'm assigning to functionality wish list for now.

[2016-06-25 17:14] dadrian opened #148 "--udp does nothing"
--udp does nothing, and should probably be removed. UDP vs TCP is selected based on protocol. Currently, the only BACNet uses UDP within ZGrab.

[2016-06-25 17:15] dadrian commented on #124
ZGrab does not support arbitrary UDP banner grabs. The only UDP protocol ZGrab supports is BACNet. I've created #148 to track the confusing --udp option.

[2016-06-25 17:15] #124 closed

[2016-06-25 17:28] #103 closed

[2016-06-25 17:33] zakird commented on #148
sgtm

[2016-06-25 22:31] #148 closed

[2016-06-25 22:58] dadrian commented on #62
Wish list sounds reasonable; this was originally an issue because of Safari, however Safari has since pulled support for these ciphers in the wake of the KCI paper at WOOT 15.

[2016-06-25 23:01] dadrian commented on #146
Shouldn't we change this by changing the Elasticsearch field processor (or whatever it's called) that we use on CN and SAN?

[2016-06-25 23:03] dadrian commented on #145
I don't want to have to keep track of all the different root stores as part of the ZGrab binary. Maybe add the ability to have multiple root stores, and then the ability to name/tag the multiple roots as Apple/MS/NSS/MyFavoriteRoot?

[2016-06-25 23:04] dadrian commented on #143
No poison? Does this have something to do with name redaction?

[2016-06-25 23:05] zakird commented on #143
CT Poison.

[2016-06-25 23:05] shoegaze commented on #143
Ref here: http://www.alvestrand.no/objectid/submissions/1.3.6.1.4.1.11129.2.4.3.html

[2016-06-25 23:07] zakird commented on #146
If we do that we should likely just do it in esloader? It's pretty painful to write ES indexers. The reason I originally put here is because we'll also need this for CT monitoring and idk how many places we want to do it.

[2016-06-25 23:07] zakird commented on #145
That's fine with me. How do we handle on the CLI? and then do we move them all to the right place in ZTag?

[2016-06-25 23:09] dadrian commented on #141
`subject_key_fingerprint`? Someone else on the Internet must have had this problem. Also, what does this really gain us vs just using the SHA256 fingerprint. Are there CA's with multiple certs that have identical subjects and keys, but different other fields? What fields are they changing? Why do we need this?

[2016-06-25 23:09] zakird commented on #62
IF that's the case, I'd say let's just close this. The reality is that we're never going to implement it.

[2016-06-25 23:10] zakird commented on #141
Yes, almost every CA operates like that.

[2016-06-25 23:15] #62 closed

[2016-06-25 23:16] zakird commented on #138
I suspect b64 is the right way to go

[2016-06-25 23:20] dadrian commented on #138
We should match whatever we're using for fingerprints.

On Sat, Jun 25, 2016 at 4:16 PM Zakir Durumeric <notifications@github.com>
wrote:

[2016-06-25 23:21] zakird commented on #138
So hex?

[2016-06-25 23:22] dadrian commented on #146
Well, we should definitely do #140. I'm not convinced this should go in ZGrab though.

[2016-06-25 23:22] dadrian commented on #138
Yes. That also makes it easier to search in ES.

[2016-06-25 23:23] zakird commented on #146
Yeah, I don't disagree. My original plan was to just add it in ZTag. However, that's not a great solution because ctsync doesn't go through ZTag, it goes directly from ZGrab. No matter what, it seems really ugly. :|

[2016-06-25 23:23] dadrian commented on #141
We can't be the only people who have wanted an identifier like this. What does crt.sh do?

[2016-06-25 23:24] zakird commented on #146
I guess one question is whether we ever need this in ZDb.

[2016-06-25 23:24] dadrian commented on #146
Well, long term ZTag will go away, and then it can probably just be imported as needed from CTsync or some other library (assuming CTsync is also in golang).

[2016-06-25 23:25] zakird commented on #138
In what sense?

[2016-06-25 23:26] zakird commented on #146
It is. I agree 100% that this doesn't belong in ZGrab. I just don't like any solution. :|

[2016-06-25 23:28] dadrian commented on #138
Position-independent encoding, since log(16) divides 8, and log(64) does not divide 8. So any byte-aligned substring will always be encoded the same, regardless of where within the string it is. Also, ES doesn't treat it as binary as default, which means it's actually searchable.

[2016-06-25 23:28] zakird commented on #111
@zzma can you take care of this when you have a moment? It should hopefully be an easy fix.

[2016-06-25 23:29] dadrian commented on #146
Yeah. But given #140, it's pretty easy to implement anywhere.

[2016-06-25 23:31] dadrian commented on #145
Ideally the "naming" of the roots would prevent having to do a bunch of manipulation in ZTag.

[2016-06-25 23:31] zakird commented on #141
This. That's how I realized it was useful ;)

On Sun, Jun 26, 2016 at 12:23 AM, David Adrian <notifications@github.com>
wrote:

[2016-06-25 23:31] dadrian commented on #145
I'm not sure how you expose this on the CLI though.

[2016-06-25 23:31] zakird commented on #138
@dadrian the second part is just dependent on how we index it.

[2016-06-25 23:32] zakird commented on #146
Yeah that's fine. So we'll just do it in CTSync and ZTag for now?

[2016-06-25 23:33] zakird commented on #145
Well it goes into the protobuf, so there will necessarily have to be manipulation there. :|

[2016-06-26 00:03] dadrian commented on #146
SGTM.

[2016-06-27 03:37] ljdelight commented on #97
This is not from using an old version go. Fedora Fedora 24 package is golang-1.6.2 (the latest version) and does not include P224. Fedora users must use the golang package from github.

[2016-06-27 16:43] zzma commented on #88
Yup - the provided example (with updated IP address) should work now.

[code]

[2016-06-27 16:46] zzma commented on #111
@zakird  sure thing

[2016-06-27 18:43] zzma commented on #140
Since we're adding the `--lookup-domain` functionality (https://github.com/zmap/zgrab/pull/127), do we want to provide a "matches_domain" field here? Or leave it up to the user to check domain vs names?

[2016-06-27 19:05] zakird commented on #140
Yes, but that won't go in certificate itself, but rather the TLS handshake (where it is currently)

[2016-06-28 11:01] zakird commented on #111
Both of these pull requests have been merged and I'm going to close this issue.

[2016-06-28 11:01] #111 closed

[2016-06-28 11:03] zakird commented on #88
Alright, given that this is fixed, I'm going to close this. Feel free to reopen if you encounter issues.

[2016-06-28 11:03] #88 closed

[2016-06-30 01:46] riramar opened #154 "ztools/http/request.go:65: request.URL.RawPath undefined (type *url.URL has no field or method RawPath)"
I'm trying to update my local zgrab so I did this first.
[code]
and after that rebuild.
[code]
So a new dep. Let's go get it.
[code]
Now trying to rebuilding again.
[code]
I'd investigate that but it's late here. It seems to be an issue on request.go.

[2016-06-30 08:52] zakird commented on #154
What version of golang are you using?

[2016-06-30 13:16] zakird commented on #154
@zzma can you take a look at this when you have a moment?

[2016-06-30 15:41] riramar commented on #154
Hi @zakird,

I was using go1.4.2 after upgrading to go1.6.2 it worked.

Thanks!

[2016-06-30 15:41] zakird commented on #154
Fantastic. I'm going to go ahead and close this then.

[2016-06-30 15:41] #154 closed

[2016-06-30 15:43] riramar commented on #154
Sure! Just adding one more comment.
The README.md is saying "zgrab requires go version of at least 1.3.3" so you may update the README.md as well.

[2016-07-04 00:31] dadrian commented on #154
@riramar I updated the README

[2016-07-04 04:12] jordan-wright commented on #78
Is there documentation on the architecture of zgrab anywhere? I'd like to add handlers for other services (such as elasticsearch, cassandra, redis, etc.), but don't know where to start. All the service parsing seems to be intermingled so I'm not sure where a defined starting point would be.

Happy to help get these knocked out, but I would appreciate some pointers to the right places to start 😄

K

[2016-07-04 04:48] dadrian commented on #78
We're hopefully reworking the structure of ZGrab to be much easier to use over the next month or so. The current process is a bit of a mess. Did you have a specific feature you wanted to implement?

As for output, it usually works best to just pipe ZGrab into something that consumes JSON, rather than add a new output type.

[2016-07-04 17:05] riramar commented on #154
Thanks a lot @dadrian!!!

[2016-07-05 03:04] jordan-wright commented on #78
Good question. My goal is to get these protocols in the censys data. I think the only thing keeping censys from being fully on-par with things like Shodan is support for other protocols. I think the zmap data is more accurate than others, but the lack of protocol support keeps me from being able to use it for different projects.

I'm a huge fan of censys, so I'm more than happy to put the legwork

[2016-07-06 19:18] zakird commented on #78
While the structure is going to change, the meat of ZGrab isn't. We're
still going to be used golang etc. If you're willing to help out, I'd say
start out just by writing the go code that tackles the connection for each
of these protocols (e.g., given an IP and a port) and then returns a struct
about how the service is configured. We can continue to work on cleaning up
the framework and then integ

[2016-07-07 20:22] zakird commented on #147
Thus, under the Baseline Requirements, additional OIDs adopted by the CA / Browser Forum are:
domain-validated(1) => (2.23.140.1.2.1)  (Compliant with Baseline Requirements – No entity identity asserted)
organization-validated(2) => (2.23.140.1.2.2)  (Compliant with Baseline Requirements – Organization identity asserted)
individual-validated(3) => (2.23.140.1.2.3)  (Compliant with Baseline Require

[2016-07-09 00:41] zakird commented on #138
fixed 7f9dbe5

[2016-07-09 00:41] #138 closed

[2016-07-09 05:00] #139 closed

[2016-07-09 21:12] shoegaze commented on #136
Okay, so I think I'm done with this. I haven't touched anything that outputs though, so I'm unsure if it will show up formatted correctly, if at all. Is that all handled, or do I need to change that as well?

[2016-07-09 21:17] zakird commented on #136
What is the output now?

[2016-07-09 21:19] shoegaze commented on #136
I don't actually know. How can I see what was being output before? I know this stuff shows up in Censys, but...

[2016-07-09 21:20] zakird commented on #136
I thinik we're fine with just the new one

On Sat, Jul 9, 2016 at 2:19 PM, Matt Bernhard <notifications@github.com>
wrote:

[2016-07-09 21:22] shoegaze commented on #136
Okay, but I'm not sure where to look at the output. Like is it all handled dynamically or am I going to have to change some configuration somewhere to include the raw key data as it gets output?

[2016-07-09 21:23] zakird commented on #136
You probably need to include it in x509/json.go

On Sat, Jul 9, 2016 at 2:22 PM, Matt Bernhard <notifications@github.com>
wrote:

[2016-07-09 21:26] shoegaze commented on #136
Ah, that's what I was looking for.

[2016-07-10 02:08] #137 closed

[2016-07-10 02:08] #136 closed

[2016-07-10 16:58] zakird commented on #125
Closing due to lack of response.

[2016-07-10 16:58] #125 closed

[2016-07-10 18:27] #141 closed

[2016-07-10 18:34] #142 closed

[2016-07-10 18:34] #146 closed

[2016-07-10 18:45] shoegaze commented on #140
Just fixed some merge issues. This should be good to go now.

[2016-07-10 22:31] zzma opened #159 "check EV / OV OID issuer"
When detecting EV/OV, create a consistent fingerprint to verify issuer + EV/OV OID match. Sources that we use for EV/OV OIDs:

- https://chromium.googlesource.com/chromium/src/net/+/master/cert/ev_root_ca_metadata.cc
- http://hg.mozilla.org/mozilla-central/file/tip/security/certverifier/ExtendedValidation.cpp
- https://cabforum.org/object-registry/

[2016-07-10 22:39] zzma opened #160 "Certificate Policy Qualifiers"
Parse out certificate policy qualifiers (RFC 5280 - 4.2.1.4. Certificate Policies):
1. CPS (Certification Practice Statement) URI
2. UserNotice

[2016-07-10 22:39] #147 closed

[2016-07-12 02:39] #140 closed

[2016-08-02 13:39] btro opened #169 "zgrab installation not working"
Hello everyone!

I never used go, so I was hoping to get this ready and running without hassle. Sadly, following the tutorial on the main page gives me:
[code]

Any idea how to fix this?

[2016-08-02 13:55] btro commented on #169
nvm, I had an older version of golang (1.2.X) installed.

[2016-08-02 13:55] #169 closed

[2016-08-11 22:02] zakird opened #171 "names field doesn't capture redacted names"
Because ?.domain.com isn't technically a valid name, this won't end up being put into the `names` array. We should make our domain validator less strict to accept these. The names field is already a custom construct and given that we want to support easily searching for certificates, it makes the most sense to just include these.

[2016-08-11 22:05] shoegaze commented on #171
This is approximately how I think this will work:

`			flag := true

 			if name[0] == '?' {
				flag = govalidator.IsURL(name[2:])
			} else {
 				flag = govalidator.IsURL(name)
 			}

 			// Check that this is actually a url and not something else
 			if flag {
 				jc.Names = append(jc.Names, name)
 			}`

[2016-08-11 22:07] zakird commented on #171
Oh man. I don't actually know how redaction works. Am I allowed to do `x.?.y.z`?

[2016-08-11 22:08] shoegaze commented on #171
I have no idea. I'm sure there's a `string.contains('?')` we could use.

[2016-08-11 22:24] zakird commented on #171
@dadrian do you know the policy here?

[2016-08-22 07:53] xtalentfeng commented on #132
replace “./zgrab --port 80 --data=./http-req”  with   "./zgrab_ --port 80 --http="/"".

[2016-08-22 16:16] dadrian commented on #132
I updated the HTTP example in README.md

[2016-08-28 04:18] zakird opened #175 "Ports not handled correctly during redirects"
There's a lot of this going on in the logs currently:

`
Aug 28 00:17:41.435 [ERROR] banner-grab: Could not connect to remote host http://14.85.213.90:80/: Get http://14.85.213.90:80:8899: dial tcp: too many colons in address 14.85.213.90:80:8899
Aug 28 00:17:41.442 [ERROR] banner-grab: Could not connect to remote host http://125.130.39.251:80/: Get http://125.130.39.251:80:8899: dial tcp: too man

[2016-08-30 09:10] Achelics opened #176 "[ERROR] banner-grab: Conversation error with remote host"
---
- I had met a question: I grabed the http protocol's banners, and I got this information. </p>
  [ERROR] banner-grab: Conversation error with remote host 192.168.12.207:80: read tcp 192.168.12.39:51512->192.168.12.207:80: i/o timeout</p>
- My ip address is 192.168.12.39, but the remote address was openinge http service in 80 port. How can I avoid that? thx! # #

[2016-09-02 02:21] zakird opened #178 "names field is not deduplicated"
The values of the `names` field in certificates are not currently de-duplicated. Given that many certificates have values in both the CN and subject alternate name, most certificates have values like `www.censys.io, www.censys.io, censys.io`.

[2016-09-02 03:12] shoegaze commented on #178
There isn't a canonical way to deduplicate slices. I could either maintain a map alongside the slice of names to check whether or not I've seen the slice before, or I could linearly search the slice every time to check for repeats. I think I'm gonna use the map approach and see how it works.

[2016-09-02 03:23] shoegaze commented on #178
Actually, digging through the code, does https://github.com/zmap/zgrab/blob/master/ztools/x509/json.go#L277 not do it?

[2016-09-02 03:23] shoegaze commented on #178
Am I just looking at the wrong thing?

[2016-09-02 03:24] zakird commented on #178
It doesn't appear so. What I copied is what was output

On Thu, Sep 1, 2016 at 8:23 PM, Matt Bernhard <notifications@github.com>
wrote:

[2016-09-02 03:28] shoegaze commented on #178
I think I might punt this to @mhyder13 to see if he can figure it out. The dedup'ing code looks correct to me, unless there's like pointer magic going on.

[2016-09-02 16:45] zakird commented on #178
@shoegaze is that dedup for the field in the SAN extension, or the `names` field that combines all of them?

[2016-09-02 16:47] zakird commented on #178
I just looked and it is for the right field. Did this just get added recently? Maybe this certificate was parsed before then? I'll manually parse it and see if the issue still persists.

[2016-09-03 19:39] zakird commented on #178
This looks fixed now. This must have been parsed with an old version.

[2016-09-03 19:39] #178 closed

[2016-09-03 19:43] shoegaze commented on #143
opened https://github.com/zmap/zgrab/tree/NoPoisonFingerprint to solve this, will submit pr shortly.

[2016-09-03 20:43] shoegaze commented on #143
Fixed by #179

[2016-09-03 21:10] #143 closed

[2016-09-05 11:11] sviehb opened #180 "ZGrab fails to decode cert that uses a different or older DER format for Boolean values"
The following certificate is not found in Censys search, however there are hosts on the web that use the certificate (HTTPS): https://github.com/google/certificate-transparency/blob/master/python/ct/crypto/testdata/matrixssl_sample.pem

As Censys is fed by ZGrab I think there issue with parsing this certificate. Google chose it in their CT code test cases, see the comment below:
https://github.com

[2016-09-06 05:11] zakird commented on #180
I can confirm that this isn't correctly handled in zgrab right now:
[code]

[2016-09-06 05:18] zakird commented on #180
@kumarde I'm going to assign this to you as this is something that should be handled by zlint.

[2016-09-06 23:55] kumarde commented on #180
Hi @sviehb,

Do you know what exactly a "different or older DER format for Boolean values" looks like? My understanding is that DER encoding is very explicit about Boolean values - the octet value is all 0s (0x00) for false and all 1s (0xFF) for true.

A cursory glance at the certificate parsing leads me to believe that there is a Boolean encoded with value 0x01, which, by my understanding, is act

[2016-09-07 03:28] dadrian commented on #180
If I had to take a guess, I've encountered this before, and OpenSSL takes it. I think the Golang parser is more strict.

https://github.com/dadrian/golang-asn1bug

[2016-09-07 15:10] kumarde commented on #180
@dadrian If that's the case, the certificate in question isn't technically RFC compliant, because the data should be DER encoded (RFC 5280: 4.1). Any thoughts on how to proceed? If we want to support parsing for this, I think we'll need to modify the asn1 encoding library provided by Golang.

[2016-09-07 15:29] dadrian commented on #180
https://github.com/golang/go/issues/11091

[2016-09-07 15:29] dadrian commented on #180
Do we have stats on how common this is?

[2016-09-07 15:36] kumarde commented on #180
@dadrian There's an effort by the zlint team to lint/check all the certificates in the censys store for RFC compliance. Once that runs, I guess we'll have a better picture of if this happens a lot in the wild.

[2016-09-07 15:37] zakird commented on #180
Unfortunately, I don't think that we will. This error is happening early enough that we're never able to parse the certificate and therefore I don't think it'll ever end up in the certificate store.

[2016-09-07 15:46] zakird commented on #180
If we want to truly know how pervasive this and other certificate parsing errors are, we should go through all of the certificates in the CT logs that we are not able to import into Censys and figure out the root cause for being unable to parse them.

[2016-09-07 16:02] dadrian commented on #180
Well, I _really_ don't want to fork Golang's ASN.1 library, and it doesn't look like Adam will accept a PR to Golang stdlib unless we can show this is common, so I vote we table this for now, unless someone really wants to categorize every parse error for certificates in CT, and certificates in a recent HTTPS scan of IPv4.

[2016-09-13 20:13] zakird commented on #176
Can you provide the command you are running?

[2016-09-13 20:24] #175 closed

[2016-09-20 06:17] beruhan opened #185 "how to use the '-encoding' options in zgrab?"
I have try the '--encoding=hex' ,'--encoding=base64' when I grab data ,but the result is same!can anyone give me a example about how to use '-encoding'?

[2016-09-24 04:23] zakird opened #186 "certificates with TLDs trusted don't correctly get added to names field"
Example: https://censys.io/certificates/719c282a51e935051e88bf6115dda0731da21c0e12c08e6bcea36078e83e4966

[2016-09-29 18:54] zakird opened #187 "HTTP Memory Leak"
It looks like ZGrab leaks memory when performing HTTP scans. This is bad enough that it leaks enough memory that it is OOM killed on a 16GB machine before an IPv4 scan can be completed.

The last successful scan we had was on September 5th, so it may be that the recent port following changes were what caused this.

[2016-09-29 20:06] umbernhard commented on #171
FWIW, I think '?' is not allowed in any domain, so we should never see one a.?.b. Gonna actually fix this problem now.

[2016-09-30 14:39] kumarde commented on #160
@zhengping12 has already parsed out UserNotice for some zlint work, I'll handle the CPS URI parsing.

[2016-09-30 17:51] umbernhard opened #189 "Redacted and wildcard fixes are only kind of right"
See this thread: https://github.com/zmap/zgrab/pull/188#partial-pull-merging

[2016-10-01 03:38] #171 closed

[2016-10-01 03:38] #186 closed

[2016-10-01 03:38] #189 closed

[2016-10-05 22:22] billmarczak opened #190 "in HTTP mode, zgrab doesn't output TLS session info if there's an error after a TLS session is successfully established"
Here's my command, where xxx.xxx.xxx.xxx is some IP:

`echo "xxx.xxx.xxx.xxx" | ./zgrab --port 443 --tls --http="/"`

The IP xxx.xxx.xxx.xxx has the following property: I can successfully establish a TLS connection on port 443, but whenever I send an HTTP GET request, the server closes the connection without returning any data.  Unfortunately, all zgrab gives me is:

`{"ip":"xxx.xxx.xxx.xxx","time

[2016-10-05 23:28] zzma commented on #190
Bill - is there a specific IP address that you are observing this behavior on? It would be helpful to have a concrete example.

[2016-10-05 23:30] billmarczak commented on #190
Sure, take this one as an example: `52.50.169.99`

[2016-10-05 23:34] billmarczak commented on #190
We can successfully establish a TLS session with this IP:

`openssl s_client -connect 52.50.169.99:443`

Yet zgrab doesn't return any TLS details about it in the output while in HTTP mode:

`echo "52.50.169.99" | ./zgrab --port 443 --tls --http="/"`

yields:

`{"ip":"52.50.169.99","timestamp":"2016-10-05T23:30:24Z","data":{"http":{}},"error":"Get https://52.50.169.99:443/: unexpected EOF"}`

[2016-10-06 00:18] zzma commented on #190
Thanks for the example, Bill. I am able to recreate the issue. I'll take a deeper look at the issue tomorrow.

[2016-10-06 14:20] zakird commented on #190
This should be resolved by #192. @billmarczak can you please confirm this meets your needs?

[2016-10-06 14:48] billmarczak commented on #190
Yes it does!  Thanks @zzma and @zakird, you guys are the best :)

[2016-10-06 14:48] #190 closed

[2016-10-06 15:01] zakird commented on #190
yay! it's all @zzma .

[2016-11-16 02:54] DivineRapier opened #199 "bug at ztools/util line84"
![bug](https://cloud.githubusercontent.com/assets/21213088/20332966/718af184-abea-11e6-92e5-385b39122c81.png)

when set maxReadLen to 8192 or times of 8192, it may be not working any more

[2016-11-16 03:14] DivineRapier commented on #199
i think just add
[code]
below line 84

[2016-11-21 15:38] #199 closed

[2016-11-21 15:38] dadrian commented on #199
Fixed.

[2016-12-13 06:54] beruhan opened #204 "Not collecting entire HTTP banner"
today I used zgrab to grab http banner,but I most of the data I got has uncomplete response.how to dealwith this case？ I install zgrab use the command
[code]
@corny @jhalderm @zakird @ppannuto @ewust

[2016-12-13 15:51] zakird commented on #204
You can control how much data is returned by setting --http-max-size. Please do not tag individual contributors in the future.

[2016-12-13 15:51] #204 closed

[2016-12-21 04:51] beruhan001 opened #207 "ztee broken pipe when zgrab use '--http-max-redirects' param"
I used the zmap  and zgrab to grab global http banner,I get the error  '**[FATAL] ztee: error writing to stdout**',_**errno is 32,broken pipe**_.The command is '**_**zmap -p 80 -r 50000 --output-fields=\* | ztee results.csv | zgrab --port 80 --http="/" http-max-redirects 3 --output-file=banners.json**_**'.But when I removed the zgrab params '--http-max-redirects',the error has gone,is this a bug i

[2016-12-27 23:20] eldraco opened #208 "Zgrab gets hooked in an infinite web page download. Should not"
If you use this honeypot https://github.com/eldraco/theinfinitewebpage, Zgrab will get hooked for a long time (1hs so far) and download a lot of data (90G so far) without cutting the connection.
Most webcrawlers do not.

[2016-12-27 23:21] dadrian commented on #208
Hi @eldraco.

What command line flags were you using?

[2016-12-27 23:38] eldraco commented on #208
Sorry but I didn't run Zgrab. I actually run the honeypot and somebody used Zgrab to scan us. Unfortunately for him he got hook for 1hs.
So I can not tell you how to reproduce it.
They were requesting with the useragent "Mozilla/5.0 zgrab/0.x" if it helps.

[2016-12-29 00:21] dadrian commented on #208
Do you by chance have the IP of that useragent? Are you willing to share if it was in the 141.212.0.0/16 subnet?

[2016-12-30 16:07] zakird commented on #160
@kumarde what is the status of this? We want to have this done before we run anything for ZLint?

[2016-12-30 16:07] #207 closed

[2016-12-30 16:07] #117 closed

[2017-01-17 03:16] paul-pearce opened #210 "--tls should default to port 443 or require a port argument"
Currently `zgrab --tls` defaults to port 80, which seems worse than either requiring a port or defaulting to port 443.

[2017-01-17 03:44] umbernhard commented on #210
Turns out this is tricky. In order to default to 443 for TLS but still allow people to force port 80, we need to roll our own golang flag (see [here](https://stackoverflow.com/questions/35809252/check-if-flag-was-provided-in-go)).

Then we have to figure out how to get a default value into that. Or we could just assume that if people want to use TLS they're never going to force port 80. If we do t

[2017-01-27 23:30] SergeyFrolov opened #213 "ztls: CHACHA20_POLY1305 ciphersuites ids"
According to [rfc7905](https://tools.ietf.org/html/rfc7905) following cipher suites are defined as:
   TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256   = {0xCC, 0xA8}
   TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 = {0xCC, 0xA9}
   TLS_DHE_RSA_WITH_CHACHA20_POLY1305_SHA256     = {0xCC, 0xAA}

   TLS_PSK_WITH_CHACHA20_POLY1305_SHA256         = {0xCC, 0xAB}
   TLS_ECDHE_PSK_WITH_CHACHA20_POLY1305_SHA

[2017-01-28 01:26] SergeyFrolov commented on #213
The values in RFC are formally assigned, and ones currently in ztls are the old values.
Currently Chrome sends both old and new values for some ciphersuites, so it might be a good idea to keep the old values with "_OLD" suffix.
I can send a PR, when we figure out the details.
Thanks

[2017-01-28 22:33] zakird commented on #213
This sounds fine to me.

[2017-01-28 22:33] dadrian commented on #213
Agreed.

[2017-01-28 23:07] #213 closed

[2017-01-29 18:46] aaspring opened #217 "Consolidate server signature fields in xssh JSON output"
Signatures are currently outputted in two manners. The first is in the certkeys as

[code]

The second is in the dh_key_exchange as

[code]

All should be consolidated into the algorithm-value structure.

[2017-01-29 18:53] aaspring opened #218 "Breakout xssh dh_key_exchange parameters"
Currently, all DH parameters are outputted under data->xssh->dh_key_exchange->parameters. Move these so that they are sub-grouped under parameters based on the exchange type (DH, ECDH, etc). The output should be similar to how the different host keys are sub-grouped under data->xssh->dh_key_exchange->server_host_key.

[2017-02-06 17:08] dadrian commented on #185
Fixed in #225, which removed the no-op --encoding flag.

[2017-02-06 17:08] #185 closed

[2017-02-09 17:06] dadrian opened #235 "Run zschema as part of TravisCI"
We currently "compile" the schema, but don't actually try to run zschema.

[2017-02-09 19:16] #19 closed

[2017-02-09 19:16] #56 closed

[2017-02-09 19:16] #57 closed

[2017-02-09 19:16] #58 closed

[2017-02-10 19:55] ajholland commented on #208
Looked into this. Zgrab will automatically time out after 10s and only store up to 256 kb.

[2017-02-10 19:55] #208 closed

[2017-02-10 20:51] dadrian commented on #208
@ajholland thanks for looking into this!

@eldraco It looks like the default settings prevent the infinite download. Someone must have configured ZGrab dangerously, or be lying about their useragent. Thanks for heads up, anyway. Still good to validate we behave sanely.

[2017-02-10 21:28] dadrian opened #236 "Figure out if `--force-ciphers` can be removed"
We originally had this flag so that we could send export ciphers and get a certificate, even though we didn't actually speak them. Nowadays, we speak a lot more ciphers, so we probably don't need this flag anymore.

We should check to see what ciphers we do speak, relative to what we don't. There's a list somewhere (I think there's a cipher_names.go file). We should figure out what ciphers we'd "l

[2017-02-15 14:42] bvandersloot opened #237 "Does not fully support Heartbeat extension"
zTLS currently only supports some subset of the Heartbeat protocol. It also allows sending the extension in the ClientHello. This could raise problems if a server wants to send arbitrary heartbeat messages to a zTLS client.

[2017-02-20 17:32] dadrian opened #238 "Send QUIT during SMTP scans."
Also, determine if this is needed for IMAP and POP scans.

[2017-02-21 06:58] micgob commented on #187
HI,
Any workarounds?

[2017-02-22 05:56] ajholland commented on #113
This should be fixed in #226

[2017-02-22 05:56] #113 closed

[2017-02-23 20:12] #238 closed

[2017-02-24 19:53] ajholland commented on #236
cipher_suites.go has two arrays, stdlibCipherSuites and implementedCipherSuites, I combined these and diffed them with the list of possible cipher suite ID's to come up with the following list of 289 unsupported cipher suites:

[unsupported.txt](https://github.com/zmap/zgrab/files/800340/unsupported.txt)

[2017-02-26 20:13] dadrian opened #243 "ZTLS should probably be it's own project"
ZTLS is big and used outside of scanning for various research-y applications. It doesn't entirely make sense to be part of ZGrab.

[2017-02-27 18:02] zakird commented on #236
Given that there are _many_ other ciphers that we might one day need to test for, I think this should remain for now.

[2017-02-27 18:03] #236 closed

[2017-03-05 21:08] dadrian opened #256 "Extended Key Usage is incomplete"
Extended key usage should have every constant specified in https://raw.githubusercontent.com/zmap/constants/master/x509/extended_key_usage.csv, and output them as "name: true" when present.

[2017-03-07 10:23] zakird commented on #72
@ajholland can you move this to zcrypto pacakge?

[2017-03-07 15:50] ajholland commented on #72
done, closing this.

[2017-03-07 15:50] #72 closed

[2017-03-07 20:09] #217 closed

[2017-03-07 23:31] ajholland commented on #243
Resolved in #258

[2017-03-07 23:31] #243 closed

[2017-03-29 09:42] tfrommen opened #262 "Runtime error in logger"
Hi there,

I just built zgrab; no problem.
When I tried to run `zgrab --help`, however, I was presented with this:

[code]

I had a look at the [logger](https://github.com/zmap/zgrab/blob/5cee42af64e54ae486e9ad48cd05d294dbe296b4/ztools/zlog/logger.go), and it turned out my file `stats` was `nil`- don't ask me for a reason, I'm fairly new to Go and all this.

Integrating a simple check for (not) `n

[2017-03-29 17:55] zakird commented on #262
Is this in master? I'm unable to produce this problem offhand.

[2017-03-29 18:11] tfrommen commented on #262
@zakird yes. I ran `$ go get github.com/zmap/zgrab`, so in the end I cloned the `master` branch. I also checked and verified in GOPATH.

I am running Go 1.8 for Windows, 64-bit, on Windows 7. Anything else I can provide you with?

[2017-03-29 18:15] tfrommen commented on #262
Hm, I just cloned the repo to some temp folder (directly via `$ git clone git@github.com:zmap/zgrab.git`), and building and executing it works just fine.

Inside GOPATH (i.e., `/Users/tfrommen/go/src/github.com/zmap/zgrab`) I can build it, but get the error when trying to execute... 🤔

[2017-03-29 18:54] dadrian commented on #262
Interestingly, I can't reproduce this on OS X, but am instead experiencing an entirely different crash when running `--help`. I suspect this issue is Windows specific. I'm happy to merge that check, but I'm not sure the rest of ZGrab works on Windows. I'm fairly certain our X.509 library panics() if you attempt to call Verify on Windows.

[2017-03-30 03:59] wx-Yao opened #264 "How should I use --lookup-domain flag?"
Basically, I'm not that familiar with Go and I couldn't fix this on my own.

I use this command to grab something:

` echo "www.baidu.com" | zgrab --port 80 --data http-req-domain --lookup-domain | jq '.' `

return json (summary part omitted) :

`Mar 30 11:52:03.966 [ERROR] banner-grab: Could not connect to www.baidu.com remote host <nil>: dial tcp: lookup <nil>: no such host
{
   "ip": "<nil>",

[2017-03-30 04:03] zzma commented on #264
You need to specify the HTTP endpoint that you want to access (i.e. make a GET request for). Try this:

`echo "www.baidu.com" | zgrab --port 80 --http / --lookup-domain`

If you want to follow HTTP redirects, you can specify the `--http-max-redirects` flag. Hope this helps.

[2017-03-30 06:25] wx-Yao commented on #264
@zzma
sorry to bother you again XD.

When I test one domain, it works fine. Test 50 domains, it works fine as well. But there was something wrong with the result when I needed to grab 2700+ domains. The error log said "too many open files" and the return json had many nulls. I google that key words and guess that was due to too many connections at the same time. Should I use proxy or .. how could

[2017-03-31 16:57] zzma commented on #264
You probably have too many open files, and need to increase the number file descriptors your process can use. I'd start by looking at ulimit. If you google that error, there's a lot of documentation out there on changing this limit. Check this out: http://stackoverflow.com/questions/32325343/go-tcp-too-many-open-files-debug

[2017-03-31 20:39] #264 closed

[2017-04-14 07:38] zone009 opened #265 "http req size limit"
I have a http_req file that more than 1K, but the raw data was cutted.can I modify this value in source code?

[2017-04-28 01:41] mawenlong3 commented on #187
ZGrab has also the problem with  leaks memory when performing HTTP scans. I used the command like this
`zmap -p 80 -o - -B 30M -l 80-http-ipv4_full-20170426T1630-zmap-log.log -m 80-http-ipv4_full-20170426T1630-zmap-metadata.json| ztee 80-http-ipv4_full-20170426T1630-zmap-results.csv | zgrab --port=80 --http="/"  --timeout=5 --senders=2000  --http-max-redirects=2 --output-file=80-http-ipv4_full-201

[2017-05-03 08:46] mawenlong3 opened #266 "HTTP Scan Memory Leak bug seems Not Fully repaired"
I use the latest zgrab to grab http banner,but the zgrab was killed before an IPv4 scan can be completed.The command is  `nohup zmap -p 80 --output-fields=* -b blacklist.conf -B 30M -l 80-http-ipv4_full-20170503T1601-zmap-log.log -m 80-http-ipv4_full-20170503T1601-zmap-metadata.json 2>/dev/null | ztee 80-http-ipv4_full-20170503T1601-zmap-results.csv | zgrab --port=80 --http="/"  --timeout=5 --send

[2017-05-08 02:06] Achelics commented on #266
Hi, maybe i know your question, I got your error information in the question HTTP Memory Leak. You said your error information was  **[FATAL] ztee: Error writing to stdout** . The error information we can find in "https://github.com/zmap/zmap/blob/master/src/ztee.c" file.
</b> In this file, we can find this code:`if (ferror(output_file)) {log_fatal("ztee", "Error writing to output file");}`</b>
It

[2017-05-09 01:17] mawenlong3 commented on #266
Hi,I have  divide the error and stdout streaming use command as flows,`sudo nohup zmap -p 80 --output-fields=* -B 30M -l zmap-log.log -m zmap-metadata.json 2> zmap-error.log | ztee zmap-results.csv 2> ztee-error.log | zgrab --port=80 --http="/" --timeout=5 --senders=1500 --output-file=zgrab-results.json --metadata-file=zgrab-metadata.json --log-file=zgrab-log.log 2> zgrab-error.log` ,but  zgrab wa

[2017-05-10 08:17] Achelics commented on #266
Wow, That;s interesting! I just want to know your zgrab version. And you use the previoue version of zgrab, thsis problem also again?

[2017-05-11 06:23] mawenlong3 commented on #266
Yes,I have run the different zgrab version I had saved! All of zgrab version have this problem!My  machine memory is 8G,Ubuntu 16.04 LTS!

[2017-05-11 19:46] dadrian commented on #266
We have a version of ZGrab that doesn't seem to leak memory on HTTP scans. We're working on fixing it up, and hope to have it merged into master next week.

[2017-05-11 19:47] #256 closed

[2017-05-11 19:48] #237 closed

[2017-05-12 06:23] mawenlong3 commented on #266
Ok thanks, I'm looking forward to your good news~~

[2017-05-16 19:54] dadrian opened #270 "Enable HTTP/2 support"
We have the code for HTTP/2, but need to resolve some differences with zcrypto/tls and crypto/tls in order to it to compile and pass tests.

[2017-05-16 19:55] #187 closed

[2017-05-16 19:55] #266 closed

[2017-05-17 09:06] mawenlong3 commented on #266
I'm testing the zgrab that fixed the memory leak problem, After running for about two hours ,I made the snapshot of my machine memory. I suspect there still be a memory leak!
![123](https://cloud.githubusercontent.com/assets/18480704/26146555/281a461c-3b23-11e7-8d00-f9fb0954726c.png)

[2017-05-19 18:22] dadrian commented on #235
Fixed by https://github.com/zmap/zgrab/commit/9967ff6979f2b4771c29fd75468c5324c75f8051

[2017-05-19 18:22] #235 closed

[2017-05-22 21:47] dadrian commented on #266
We saw asymptotically leveling off memory usage during the course of a full IPv4 scan with the HTTP module. I'm not convinced that's not just an issue with the Go GC. In your snapshot, it looks like ZGrab is using less memory than zmap. Did the memory usage growth continue for you?

[2017-05-24 17:54] #82 closed

[2017-05-24 17:56] #5 closed

[2017-05-24 17:58] #63 closed

[2017-05-24 17:58] #13 closed

[2017-05-24 17:59] #32 closed

[2017-05-25 05:50] mawenlong3 commented on #266
zmap -u param seems unstable,I use the following command,`zmap -p 80 --output-fields=* -b -B 30M -l zmap-log.log -m zmap-metadata.json -u zmap-status.csv --quiet`, it often occured the error 'could not open output file zmap-status.csv',I need to run many times to succeed.I have used the sudo

[2017-06-30 14:30] zakird opened #280 "HTTP Scanner shouldn't follow redirects to localhost"
We're scraping our own website. :|

[2017-06-30 18:14] ajholland commented on #280
What's the intended behavior we'd like here? Print out a message or an error message if we get a redirect to localhost?

[2017-07-10 12:30] zakird commented on #280
This was fixed by #281.

[2017-07-10 12:30] #280 closed

[2017-07-18 05:50] #262 closed

[2017-08-26 20:18] mackwage opened #288 "Add option to suppress stdout output"
Enhance request: please add way to suppress the output to stdout when using output-file.

[2017-08-26 20:53] dadrian commented on #288
`--metadata-file` and `--log-file` can be used to redirect the rest of the output. That being said, we plan on making this smarter in the next version.

[2017-08-26 21:09] mackwage commented on #288
Ah thank you. Cheers!

[2017-08-26 21:09] #288 closed

[2017-08-26 21:42] mackwage opened #289 "Oversized TLS records?"
I'm getting a lot of errors where it shows tls is an oversized record. Could you provide more info on this error and/or how to handle it?

tls: oversized record received with length 24932

[2017-08-27 02:34] dadrian commented on #289
This usually means the remote host actually is trying to speak SSLv2.

[2017-08-28 17:42] cdzombak commented on #218
Does https://github.com/zmap/zgrab/pull/286 (merged in July) resolve this?

[2017-08-29 23:34] #289 closed

[2017-08-29 23:36] mackwage opened #291 "Performance expectations?"
Are there ways to tune / increase zgrab performance ? Just --senders?

When I run zmap/zgrab against a set of addresses, zmap will finish in just a couple minutes but zgrab with just --tls on a single port will take just under 3 hours.

[2017-08-31 01:47] ajholland commented on #291
Unfortunately there is not. The only other option currently available would be decreasing --timeout (default is 10).

[2017-08-31 16:10] dadrian commented on #218
Yes.

[2017-08-31 16:10] #218 closed

[2017-09-19 09:16] chaozai1028l commented on #99
[ 23%] Building C object src/CMakeFiles/zmap.dir/fieldset.c.o
/data/ZMAP/zmap/src/fieldset.c:15:20: fatal error: unistr.h: No such file or directory
 #include <unistr.h>
                    ^
compilation terminated.
make[2]: *** [src/CMakeFiles/zmap.dir/fieldset.c.o] Error 1
make[1]: *** [src/CMakeFiles/zmap.dir/all] Error 2
make: *** [all] Error 2

are you have a answer for this question?

[2017-09-19 14:54] #291 closed

[2017-10-11 15:52] deadc0de6 opened #294 "unable to build with go 1.7.4"
Hello,

I need help to build zgrab on debian stretch:
[code]

Thanks !

[2017-10-11 16:07] deadc0de6 opened #295 "unable to build with go 1.7.4"
I need help to build zgrab on debian stretch:
[code]

Thanks

[2017-10-11 16:18] deadc0de6 commented on #295
duplicate from #294

[2017-10-11 16:18] #295 closed

[2017-10-11 19:22] dadrian commented on #294
The minimum version of Golang required is 1.8.1 (e.g. the version in [.travis.yml](.travis.yml))

[2017-10-11 19:22] #294 closed

[2017-10-11 19:23] dadrian commented on #294
I updated the README to reflect this.

[2017-11-18 22:10] bonkc opened #298 "--lookup-domain doesn't work"
With the command

zgrab --input-file=domains.all --lookup-domain --port 80 --output-file=domains.all.80.callback

when domains.all is a file with one domain per line, doesn't work. The error is produced:

Nov 18 21:59:33.323 [ERROR] banner-grab: Could not connect to <redact> remote host <nil>: dial tcp: lookup <nil>: no such host

Whats the proper usage of --lookup-domain ? --help says input conta

[2017-11-21 00:14] ajholland commented on #298
If you're trying to grab on http you'll need to use the `--http=/` flag for grabbing on a default endpoint.

The confusing command line arguments will be resolved in the next version of zgrab.

[2017-11-21 07:01] bonkc commented on #298
What if the parameter --data is used? --http seems to override the custom HTTP payload in --data.

[2017-11-22 17:29] nmalcolm commented on #298
Can confirm the same behavior as @bonkc.

[2017-11-24 16:58] #45 closed

[2017-11-26 04:35] amcdonald714 commented on #298
I also observe this problem when testing domains without A records.

For example:
echo "mozilla.net" | zgrab --port 80 --http="/" -http-max-redirects 10 -lookup-domain
results in "error":"Get http://mozilla.net/: dial tcp: lookup mozilla.net: no such host"

But prepending "www." works:
echo "www.mozilla.net" | zgrab --port 80 --http="/" -http-max-redirects 10 -lookup-domain

[2017-11-26 15:07] zakird commented on #298
@amcdonald714 `mozilla.net` does not have an A record. This isn't a problem with ZGrab.

[2017-11-26 16:03] zakird commented on #298
@amcdonald714, @cdzombak just pointed out to me that I missed part of your message, and that you acknowledge that mozilla.net doesn't have an A record. Sorry about that. Given that mozilla.net doesn't have an A record, I don't think I understand though what you're expecting to happen. Can you elaborate?

[2017-11-26 16:10] zakird commented on #270
Closing, and moving to ZGrab 2.0. https://github.com/zmap/zgrab2/issues/22

[2017-11-26 16:10] #270 closed

[2017-11-26 16:11] #145 closed

[2017-11-26 16:11] #79 closed

[2017-11-26 16:11] zakird commented on #76
Closing, since this is implemented in ZGrab 2.0

[2017-11-26 16:11] #76 closed

[2017-11-26 16:12] zakird commented on #73
Closing, since this is being handled in ZGrab 2.0

[2017-11-26 16:12] #73 closed

[2017-11-26 16:12] zakird commented on #102
Closing, since this has been handled in ZGrab 2.0.

[2017-11-26 16:12] #102 closed

[2017-11-26 18:11] amcdonald714 commented on #298
Right, sorry, I didn't really explain what I was getting at. Browsers, for example, will correct for a missing "www" if the domain doesn't resolve---so mozilla.net will load in a browser as www.mozilla.net. Is this something we would want zgrab to do as well?

Thinking about this more, it doesn't seem like it should be zgrab's job. But to give some context, I'm zgrabbing a set of ~4000 domains out

[2017-11-26 18:18] zakird commented on #298
I don't think think that this something that we want ZGrab to do
automatically at the framework level since HTTP is one of many modules that
ZGrab supports. That said, I'm opposed to a pull request that adds a flag
to do this in ZGrab 2.0.

I'll also note that this doesn't quite jive with my personal browser
experience. When I go to http://mozilla.net/ in Chrome, I receive the
following error:

Th

[2017-11-27 22:56] #298 closed

[2017-12-02 17:27] Lukas-Schreiber opened #300 "help with FTP banner grabbing"
Hi,

i'm trying to figure out how to do ftp banner grabbin and saving the output with zgrab to a json file. i personally think some more examples would help a ton.

this is my command:

sudo zmap  -p 21 --output-fields=* | ./zgrab -ftp --port 21 --output-file banners.json

output looks like this:

[code]

[2018-01-02 03:36] launchramp opened #301 "Make Zgrab use an Accept Header"
Hi, I've been trying to get Zgrab to use an accept header when making requests as it only currently uses:
[code]
I was able to add the header using the http-req file, but when I run this it simplifies the output - I don't get the sha256 hash and the response headers aren't properly formatted in JSON anymore.

**http-req file**
[code]

**using http-req file**
[code]

**not using http-req file**
[co

[2018-01-04 15:47] justinbastress commented on #301
Hi @launchramp, I just merged a change into master (https://github.com/zmap/zgrab/pull/302) to include the `Accept: */*` header -- but in your case, your workaround would probably also work if you just include the `--http "/"` option in addition to the `--data` flag. Without the `--http` option, zgrab doesn't know to parse the response as HTTP (which is where it calculates the sha256 hash etc).

[2018-01-29 08:57] mailinglists35 opened #304 "package context: unrecognized import path "context" (import path does not begin with hostname)"
[code]

[2018-01-29 09:18] mailinglists35 commented on #304
oh, nevermind. it was not go 1.8+

[2018-01-29 09:18] #304 closed

[2018-01-29 19:37] manuelbua commented on #264
I have the same problem and `ulimit` won't solve that in my case, still wondering what's up:
[code]

I can see the default behavior for `HTTP/1.1` is to persist connections (keep-alive), and since i'd like to try specifying a "Connection: close" header in the request i'm now diving into the sources, any pointers?

[2018-01-29 20:15] manuelbua commented on #264
For other that may incur in the same problem, i'm working it around by doing the following:
[code]

This works perfectly fine for my use-case, but ymmv!

[2018-01-31 19:48] ishankaru opened #306 "IP Resolution on doing a domain lookup"
When running a command like this:
echo "github.com"  | zgrab  --http="/" -lookup-domain

Is there a way to get the IP to populate instead of showing 'nil', was not certain if this was a bug, how it is or if there was a parameter I can use to resolve the IP.

banner-grab: Could not connect to remote host http://github.com/: Get https://github.com/: stopped after 0 redirects
{**"ip":"\u003cnil\u003e

[2018-02-22 17:39] roger32843948 opened #307 "0.25 BTC bounty for custom http header"
I need to insert a custom HTTP header in ZGrab when using --data and one more simple modification maybe needed with the Host: header depending if it reads port from the command line.
Tks.

[2018-02-23 10:46] seguri opened #308 "installation error: go/src/github.com/zmap/zcrypto/ct/x509/root_darwin.go:73"
I can't install zgrab:

[code]

[2018-02-24 18:17] djtm opened #309 "en.wikipedia.org can't be retrieved with -chrome-ciphers"
echo 'en.wikipedia.org' | ~/src/go/bin/zgrab --port 443 -timeout 5 -chrome-ciphers -banners -lookup-domain --tls --tls-verbose --http='/'
leads to
[code]
However, an ssl connection with chrome of course works fine.

[2018-03-06 21:16] manuelbua commented on #307
Since i need to ensure the `Connection: close` header is present in the request header, this is what i'm using now (since i constantly keep getting the "too many open files" error even by tweaking limits by `ulimit`):
[code]

If that does what you need i'll be happy to provide a BTC address :yum:

[2018-03-13 00:14] Sesaru2 opened #313 "Custom banner grab output data"
Hello, I would like to know how to obtain specific output data of zgrab. For example I just want to get the Server, WWW-Authenticate and Content-Type data. Only that information and nothing else. I hope you can help me and in advance thank you very much

[2018-04-04 12:14] meganhmoore opened #317 "Running without error but getting no output"
I have a remote server that I am trying to run a zgrab scan from.
I have been trying this:
sudo zmap -p 8081 -i bond1 -v 5 -G "xx:xx:xx:xx:xx:xx" -S xx.xxx.xxx.xxx --vpn -B 10M -n 100000 --output-fields=* | ./zgrab -port 8081 -http="/" --output-file=test1.json

it runs zmap without error but has no result, and when it goes on to zgrab some of the time I get:
 [ERROR] log: Invalid IP address saddr.

[2018-04-04 12:48] zakird commented on #317
This issue doesn't look related to ZGrab, but rather ZMap. The reason you're getting this error in ZGrab is that you're passing in the string "saddr" because it's a header in the CSV output of ZMap because of  `--output-fields=*`. It's expecting IPs no a CSV file.

[2018-04-04 12:48] #317 closed

[2018-04-04 12:58] zakird commented on #306
Closing as this has been addressed in ZGrab2, which is superseding this project.

[2018-04-04 12:58] #306 closed

[2018-04-04 12:59] zakird commented on #301
This looks addressed. Closing.

[2018-04-04 12:59] #301 closed

[2018-04-04 12:59] zakird commented on #80
This has been addressed in ZGrab2. Closing.

[2018-04-04 12:59] #80 closed

[2018-04-04 13:00] zakird commented on #14
This isn't really a usable feature request and I suspect it has been largely fixed by ZGrab2 implementation. Closing

[2018-04-04 13:00] #14 closed

[2018-04-04 13:00] zakird commented on #78
This has been addressed in the ZGrab2 framework, which is superseding this project. Closing.

[2018-04-04 13:00] #78 closed

[2018-04-04 13:00] #308 closed

[2018-04-04 13:01] zakird commented on #300
ZGrab expects a list of IPs, not the CSV file that `--output-fields=*` produces. You'll want to remove that flag.

[2018-04-04 13:01] #300 closed

[2018-04-04 13:02] zakird commented on #210
ZGrab2, which is superseding this project has default ports for modules. Closing.

[2018-04-04 13:02] #210 closed

[2018-04-04 13:12] zakird commented on #129
Closing since this is improved in ZGrab2, which is superseding this project.

[2018-04-04 13:12] #129 closed

[2018-04-04 13:13] #81 closed

[2018-04-04 13:13] #265 closed

[2018-04-04 13:13] #59 closed

[2018-04-04 13:25] zakird commented on #68
I believe that this is resolved by ZGrab2 having an easily identifiable FTP module. Closing out.

[2018-04-04 13:25] #68 closed

[2018-04-04 13:31] seguri commented on #308
Why was this closed?

[2018-04-04 13:34] zakird commented on #33
It looks like this was addressed at some point:
[code]

Closing.

[2018-04-04 13:34] #33 closed

[2018-04-04 13:34] zakird commented on #313
You can filter this data out using a post processor such as `jq` (https://stedolan.github.io/jq/). We do not plan to allow user configurable output when a large number of (much better tools) exist to do his.

[2018-04-04 13:34] #313 closed

[2018-04-04 13:36] zakird commented on #55
Offhand, I believe this is out of scope of ZGrab and should be a separate utility. Thoughts on closing @dadrian?

[2018-04-04 13:38] zakird commented on #7
I'm not sure what this issue means despite being its creator. Closing.

[2018-04-04 13:38] #7 closed

[2018-04-04 13:39] zakird commented on #75
This is how ZGrab2 (which supersedes this project) operates. As such, I'm closing this issue.

[2018-04-04 13:39] #75 closed

[2018-04-04 13:43] zakird commented on #160
@justinbastress has confirmed that we output both of these fields these days. Closing.

[2018-04-04 13:43] #160 closed

[2018-04-19 20:19] njv299 opened #318 "Data returned from `--data` mode is encoded, preventing grabbing of arbitrary binary protocols"
I'm trying to use ZGrab to recover basic information from hosts running a PPTP service (see this nmap NSE script for more info: https://svn.nmap.org/nmap/scripts/pptp-version.nse). In order to get this working with zgrab  without having to add a completely new module, I'm trying to use the `--data` command line parameter with a custom PPTP packet file that I've
[attached](https://github.com/zmap/z

[2018-04-25 15:14] didierhk commented on #308
@seguri

Please find workaround on https://github.com/zmap/zcrypto/issues/121

For your persual,

As a workaround, build with Go 1.9:

$ brew install go@1.9
$ /usr/local/opt/go@1.9/bin/go get -u github.com/zmap/zgrab

[2018-04-27 03:15] #55 closed

[2018-05-23 02:16] syclops commented on #308
@seguri

For what it's worth, I ran into this problem as well. It's possible to build this with Go 1.10 by running
[code]
(There are only two offending lines anyway. You could just manually change `nil` to `0` in `$GOPATH/src/github.com/zmap/zgrab/vendor/github.com/zmap/zcrypto/ct/x509/root_darwin.go`, line 73 and in `$GOPATH/src/github.com/zmap/zgrab/vendor/github.com/zmap/zcrypto/x509/root_cgo_d

[2018-06-24 19:52] prdonahue commented on #309
Seeing this on quite a few hosts as well . Any ideas @zakird ?

Here's the output before I killed the scan:

[code]

[2018-06-25 02:47] prdonahue opened #323 "The browser_trusted field is ambiguously labeled"
In https://github.com/zmap/zgrab/issues/33, it appears that the server certificate validation was broken out to:

[code]

Does `browser_trusted` actually check whether the system trusts the chain (by comparing it to some root trust store)? If not, I would suggest renaming this field as it's confusing (to me, anyway).

[2018-06-25 02:53] prdonahue commented on #323
OK, here's the relevant code (vendored from zcrypto):

[code]

Verify function can be found here: https://golang.org/src/crypto/x509/verify.go.

Looks like it _does_ check against system roots?

If the certificate is expired, can browser_trusted still be true?

[2018-06-25 14:19] dadrian commented on #309
This is ultimately an issue with the underlying crypto library we use, see https://github.com/zmap/zcrypto/issues/136

[2018-06-29 18:03] 0xorz opened #324 "The scanning output is not valid json file"
It seems the results the zgrab outputs is a series of independent json files. But overall it's not valid.

The same situation stands for the file in the archive https://scans.io/.

How can we parse the results?

[2018-06-29 18:09] zakird commented on #324
The files contain line-delimited JSON (aka JSON Lines). General information about the standard is available here: http://jsonlines.org/ and http://ndjson.org/

[2018-06-29 18:09] #324 closed

[2018-10-08 00:32] #28 closed

[2018-12-04 06:33] sdilmac opened #328 "I fuck your life and your API"
Your life is proportional to the application you are writing. It makes you happy to use the energy to waste and manipulate people illegally. Idiot, don't you think that's what the service writer thinks? You write the application for the attack and another server is serving it (I'm sure you don't know what it is). I wish your father had used a condom so you wouldn't waste any air. Poor loser man!

[2018-12-04 14:18] #328 closed

[2020-06-30 09:19] KateGo520 opened #333 "Errors you may encounter when upgrading the library"
## An error will happen when upgrading library _prometheus/client_golang_:

### github.com/prometheus/client_golang
-Latest Version: v1.7.1 (Latest commit fe7bd95 7 days ago)
Master branch
-Where did you use it:
https://github.com/zmap/zgrab/search?l=Go&q=prometheus%2Fclient_golang
-Detail:

[code]

[code]
This problem was introduced since **_prometheus/client_golang v1.2.0(Latest commit 9a2ab94 o

[2020-06-30 09:20] KateGo520 commented on #333
@justinbastress @dadrian  Could you help me review this issue? Thx :p

[2020-06-30 15:31] dadrian commented on #333
@KateGo520 you should probably just use https://github.com/zmap/zgrab2. This project has been deprecated. That being said, there is already a work-in-progress PR to move this to Go modules #332

[2020-06-30 15:31] #333 closed

[2020-06-30 15:32] dadrian commented on #323
@prdonahue You're totally right that this field makes no sense. However, we've moved most development to https://github.com/zmap/zgrab2, (where the field probably still exists and makes no sense), so I'm closing this issue out.

In general, we've found it's better to try to verify certificates out-of-band, rather than while scanning.

[2020-06-30 15:32] #323 closed

[2020-06-30 15:33] dadrian commented on #309
We fixed this in ZCrypto. https://github.com/zmap/zcrypto/pull/193

[2020-06-30 15:33] #309 closed

[2020-06-30 15:33] #3 closed

[2020-06-30 15:33] #23 closed

[2020-06-30 15:33] #31 closed

[2020-06-30 15:33] #60 closed

[2020-06-30 15:34] #307 closed

[2020-06-30 15:34] #180 closed

[2020-06-30 15:35] #132 closed

[2020-06-30 15:35] #65 closed

[2020-06-30 15:35] dadrian commented on #64
This is output by ZGrab2. https://github.com/zmap/zgrab2

[2020-06-30 15:35] #64 closed

[2020-06-30 15:36] #144 closed

[2020-06-30 15:37] #176 closed

[2020-06-30 15:42] dadrian commented on #85
We've moved development to ZGrab2, which has some related issues: https://github.com/zmap/zgrab2/issues/197

[2020-06-30 15:42] #85 closed

[2020-06-30 15:42] dadrian commented on #318
We've moved development to ZGrab2, which has some similar issues: https://github.com/zmap/zgrab2/issues/197

[2020-06-30 15:42] #318 closed